body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: hsl(185, 75%, 39%);
	background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
	background-position: left -360px top -590px, right -300px bottom -660px;
	background-repeat: no-repeat, no-repeat;
}

html {
	font-family: 'Kumbh Sans';
	font-size: 14px;
}

h1 {
	font-size: 1.29rem;
	font-weight: 400;
}

h2 {
	font-size: 1.14rem;
	font-weight: 400;
}

hr {
	border: none;
	border-top: 1px solid hsl(0, 0%, 79%);
}

p {
	margin: 9px 0;
}

.attribution {
	color: white;
	bottom: 15px;
	font-size: 11px;
}

.attribution a { 
	color: hsl(228, 45%, 44%);
}

.col {
	flex-direction: column;
	align-items: center;
}

.flex {
	display: flex;
	justify-content: center;
}

.stat {
	display: inherit;
	font-size: 0.86rem;
	line-height: 0.5;
	width: 30%;
}

.stat-number {
	font-size: 1.29rem;
	font-weight: 700;
}

#basic-info {
	margin-top: -36px;
}

#header {
	width: 100%;
	height: 140px;
	background-size: cover;
	background-image: url(./images/bg-pattern-card.svg);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#name {
	font-weight: 700;
	padding-right: 8px;
}

#name-age {
	display: inherit;
}

#picture {
	position: relative;
	top: -56px;
	border-radius: 70px;
	border: 6px solid white;
}

#profile-card {
	margin: 20px;
	width: 350px;
	border-radius: 20px;
	box-shadow: 0px 40px 108px 0px hsl(185, 75%, 29%);
	background-color: white;
}

#stats {
	line-height: 1;
	padding: 20px 15px;
}
