
body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

html {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Kumbh Sans', 'sans serif';
	font-size: 12px;
	padding: 120px 0 40px;
	background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	background-repeat: no-repeat;
	max-height: 100vh;
}

.answer {
	clear: right;
	width: 100%;
}

.arrow {
	float: right;
	display: inline-block;
	height: auto;
	-webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    -ms-transition: transform 0.25s ease-in-out;
	transition: transform 0.25s ease-in-out;
}

.arrow-rotate {
	transform: rotate(-180deg);
}

.attribution {
	width: 100%;
	font-size: 11px;
	text-align: center;
	padding-top: 20px;	
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.card-column {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: -90px;
}

.collapsible {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.question {
	cursor: pointer;
	padding: 15px 5px;
	width: 80%;
	text-decoration: none;
}

.question-highlight:hover {
	color: hsl(14, 88%, 65%);
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	border: none;
	text-align: initial;
	border-bottom: 2px solid hsl(240, 5%, 91%);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 70%;
}

#email-box {
	display: none;
}

#faq-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0px 10px 20px 0px hsl(273, 75%, 46%);
	border-radius: 30px;
	background-image: url('./images/bg-pattern-mobile.svg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 268px;
	background-color: white;
	padding: 20px 0 20px;
	width: 88%;
	/*height: 470px;*/
}

#faq-heading {
	text-align: center;
	width: 90%;
}

#mobile-image {
	position: relative;
	top: -135px;
	left: -17px;
	width: 80%;
	min-width: 286px;
	max-width: 286px;
}

@media only screen and (min-width: 590px) and (max-width: 800px) {
	.card-column {
		display: initial;
		overflow: visible;
		min-height: 1px;
		margin-top: initial;
		padding: 40px 0;
		width: 50%;
		/*border: 1px solid red;*/
		height: 100%;
	}

	.row {
		width: 90%;
	}

	#email-box {
		display: inline-block;
		position: relative;
		width: 40%;
		top: 30%;
		left: -20%;
	}

	#faq-card {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		box-shadow: 0px 10px 20px 0px hsl(273, 75%, 46%);
		border-radius: 30px;
		background-color: white;
		background-image: url('./images/illustration-woman-online-desktop.svg'), url('./images/bg-pattern-desktop.svg');
		background-size: 50%, 95%;
		background-repeat: no-repeat, no-repeat;
		background-position: left -17% center, left -1085% bottom 33%;
		padding: 20px 0 20px;
		width: 520px;
	}

	#faq-card:last-child {
		flex-grow: 1;
	}

	#mobile-image {
		display: none;
	}
}

@media only screen and (min-width: 800px) {
	.card-column {
		display: initial;
		overflow: visible;
		min-height: 1px;
		margin-top: initial;
		padding: 40px 0;
		width: 50%;
		/*border: 1px solid red;*/
		height: 100%;
	}

	.row {
		width: 90%;
	}

	#email-box {
		display: inline-block;
		position: relative;
		width: 40%;
		top: 30%;
		left: -20%;
	}

	#faq-card {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		box-shadow: 0px 10px 20px 0px hsl(273, 75%, 46%);
		border-radius: 30px;
		background-color: white;
		background-image: url('./images/illustration-woman-online-desktop.svg'), url('./images/bg-pattern-desktop.svg');
		background-size: 50%, 95%;
		background-repeat: no-repeat, no-repeat;
		background-position: left -17% center, left -1085% bottom 33%;
		padding: 20px 0 20px;
		width: 65%;
		/*height: 470px;*/
	}

	#faq-card:last-child {
		flex-grow: 1;
	}

	#mobile-image {
		display: none;
	}
}
